{% extends 'admin/base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
   <h1><i class="fas fa-users"></i> User</h1>

<table class="table">
    <thead>
        <tr>
            <th><i class="fas fa-hashtag"></i> Id</th>
            <th><i class="fas fa-envelope"></i> Email</th>
            <th><i class="fas fa-user"></i> Username</th>
            <th><i class="fas fa-user-tag"></i> Roles</th>
            <th><i class="fas fa-lock"></i> Password</th>
            <th><i class="fas fa-cogs"></i> Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            <td>{{ user.password }}</td>
            <td>
                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary">
                    <i class="fas fa-eye"></i> Show
                </a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Edit
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_user_new') }}" class="btn btn-success">
    <i class="fas fa-plus"></i> Create new
</a>

{% endblock %}
