{% extends 'admin/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1><i class="fas fa-user"></i> User</h1>

<table class="table">
    <tbody>
        <tr>
            <th><i class="fas fa-hashtag"></i> Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th><i class="fas fa-envelope"></i> Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th><i class="fas fa-user"></i> Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th><i class="fas fa-user-tag"></i> Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th><i class="fas fa-lock"></i> Password</th>
            <td>{{ user.password }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_user_index') }}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> back to list
</a>

<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">
    <i class="fas fa-edit"></i> edit
</a>


    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
