{% extends 'admin/base.html.twig' %}

{% block title %}ImageAcceuil{% endblock %}

{% block body %}
    <h1>ImageAcceuil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image_acceuil.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ image_acceuil.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ image_acceuil.description }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ image_acceuil.source }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_image_acceuil_index') }}" class="btn">back to list</a>

    <a href="{{ path('app_image_acceuil_edit', {'id': image_acceuil.id}) }}">edit</a>

    {{ include('admin/image_acceuil/_delete_form.html.twig') }}
{% endblock %}
