{% extends 'base.html.twig' %}

{% block body %}
    <!-- Carousel Images-->
    {% if navbar_data is not empty %}
    <div id="myCarousel" class="carousel carousel-dark  slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for item in navbar_data %}
              <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img src="{{ item.source }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h3><i class="fas fa-star"></i> {{ item.title }}</h3>
                  <p><i class="fas fa-info-circle"></i> {{ item.description }}</p>
                </div>
              </div>   
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>
    </div>
    {% endif %}
    <!-- Fin Carousel Images -->



    <div class="container">
        <h1 class="my-4"><i class="fas fa-store"></i> Bienvenue sur notre site e-commerce</h1>


        <section id="featured-products" class="mb-5">
            <h2 class="mb-3"><i class="fas fa-star"></i> Produits en Vedette</h2>

            <div class="row">
                {% for product in featuredProducts %}
                     <div class="col-xl-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="{{ product.imageUrl ? product.imageUrl : asset('images/' ~ product.imageFilename) }}" alt="Image for {{ product.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-tag"></i> {{ product.name }}</h5>
                    <p class="card-text"><i class="fas fa-align-justify"></i> {{ product.description }}</p>
                    <p class="card-text"><i class="fas fa-euro-sign"></i> {{ product.price }} </p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="{{ path('product_details', { 'id': product.id }) }}" class="btn btn-primary">
                        <i class="fas fa-search"></i> Détails
                    </a>
                    <a href="{{ path('app_cart_add', { 'id': product.id }) }}" class="btn btn-info">
                        <i class="fas fa-shopping-cart"></i> Panier
                    </a>
                </div>
            </div>
        </div>
                {% else %}
                    <p class="col-12">Aucun produit en vedette pour le moment.</p>
                {% endfor %}
            </div>
        </section>

        <section id="new-arrivals" class="mb-5">
            <h2 class="mb-3"><i class="fas fa-gift"></i> Nouveautés</h2>

            <div class="row">
                {% for product in newArrivals %}
                     <div class="col-xl-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="{{ product.imageUrl ? product.imageUrl : asset('images/' ~ product.imageFilename) }}" alt="Image for {{ product.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-tag"></i> {{ product.name }}</h5>
                    <p class="card-text"><i class="fas fa-align-justify"></i> {{ product.description }}</p>
                    <p class="card-text"><i class="fas fa-euro-sign"></i> {{ product.price }} </p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="{{ path('product_details', { 'id': product.id }) }}" class="btn btn-primary">
                        <i class="fas fa-search"></i> Détails
                    </a>
                    <a href="{{ path('app_cart_add', { 'id': product.id }) }}" class="btn btn-info">
                        <i class="fas fa-shopping-cart"></i> Panier
                    </a>
                </div>
            </div>
        </div>
                {% else %}
                    <p class="col-12">Aucune nouvelle arrivée pour le moment.</p>
                {% endfor %}
            </div>
        </section>

        <section id="promotions" class="mb-5">
            <h2 class="mb-3"><i class="fas fa-tags"></i> Promotions et Offres Spéciales</h2>

            <div class="row">
                {% for product in promotions %}
                     <div class="col-xl-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="{{ product.imageUrl ? product.imageUrl : asset('images/' ~ product.imageFilename) }}" alt="Image for {{ product.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-tag"></i> {{ product.name }}</h5>
                    <p class="card-text"><i class="fas fa-align-justify"></i> {{ product.description }}</p>
                    <p class="card-text">
                        <s><i class="fas fa-euro-sign"></i> {{ product.price }} </s>
                        <i class="fas fa-euro-sign"></i> {{ product.price - product.discount }} €
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="{{ path('product_details', { 'id': product.id }) }}" class="btn btn-primary">
                        <i class="fas fa-search"></i> Détails
                    </a>
                    <a href="{{ path('app_cart_add', { 'id': product.id }) }}" class="btn btn-info">
                        <i class="fas fa-shopping-cart"></i> Panier
                    </a>
                </div>
            </div>
        </div>
                {% else %}
                    <p class="col-12">Aucune promotion pour le moment.</p>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
