{% extends 'admin/base.html.twig' %}

{% block title %}NavLink{% endblock %}

{% block body %}
    <h1>NavLink</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nav_link.id }}</td>
            </tr>
            <tr>
                <th>NameLink</th>
                <td>{{ nav_link.NameLink }}</td>
            </tr>
            <tr>
                <th>NameUrl</th>
                <td>{{ nav_link.NameUrl }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ nav_link.Category ? nav_link.Category|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nav_link_index') }}">back to list</a>

    <a href="{{ path('app_nav_link_edit', {'id': nav_link.id}) }}">edit</a>

    {{ include('admin/nav_link/_delete_form.html.twig') }}
{% endblock %}
